.container {
  display: flex;
  padding-left: 85px;
  padding-top: 42px;
  padding-bottom: 24px;
  width: 70%;
  grid-template-columns: 60% 10%;
}

.main-section {
}

.aside-section {
  margin-left: 40px;
}

.article-1 {
  margin-bottom: 35px;
}

.name {
  font-size: 35px;
  margin-top: 0px;
  font-family: "Montserrat";
}

.title {
  font-family: "Montserrat";
  font-size: 14px;
  text-decoration: underline;
  color: rgb(37, 162, 245);
}

.sub-title {
  font-size: 16px;
  font-family: "Montserrat";
}

.span-ele {
  font-weight: lighter;
  font-style: italic;
  font-family: "Montserrat";
}

.info {
  font-weight: bold;
  font-family: "Montserrat";
}

.description {
  font-size: 15px;
  color: rgb(107, 106, 106);
  font-family: "Montserrat";
}

.date-info {
  font-size: 13px;
  color: rgb(107, 106, 106);
  margin-top: 0px;
  font-family: "Montserrat";
}

.cell-mr-top {
  margin-left: 100px;
}
